body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 10px;
    /*max-width: 800px;*/
    text-align: left;
}

#encabezado{
    margin:auto;
    width: 850px;
    padding-top: 10px;
    padding-bottom: 25px;
}

#modulo{
    text-align:left;
    width:850px;
    margin:0 auto;
    padding:5px;
    text-align:left;
    padding-bottom: 50px;
}

.grafico{
    width:800px;
    height:200px;
    margin: 20px;
}

#menu{
    text-align:left;
    width:850px;
    margin:0 auto;
    padding:5px;
    text-align:left;
    padding-bottom: 30px;
}

.tiempo{
    width: 60px;
    text-align: center;
}

.fecha{
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

#mod{
    width: 550px;
    text-align: center;
    margin:0 auto;
}

#txtLabel{
    width: 200px;
    text-align: left;
    margin-top: 20px;
    /*margin-bottom: 5px;*/
}

#txtIngreso{
    width: 550px;
    text-align: left;
}

#ingLabel{
    width: 100px;
    float:left;
}

#izq {
    float:left;
    /*width:100px;*/
}

#der {
    float:left;
    width:100px;
    /*background:#fc0;*/
}

#bot{
    float:left;
    width:50px;
    margin-bottom: 20px;
}

.param{
    width: 80px;
    text-align: center;
}

#boton{
    margin-top: 15px;
}

.trTitulo{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: 0;
}

.tdNombre{
    width: 450px;
    text-align: left;
    padding-left: 10px;
}

.tdTelefono{
    width: 450px;
}

.tdCorreo{
    width: 450px;
}

.tdFecha{
    width: 200px;
}

.tdHora{
    width: 170px;
}

.tdPar{
    width: 170px;
    padding-right: 20px;
    text-align: right;
}

.tdSen{
    width: 250px;
}

.tdMod{
    width: 150px;
}

#txtNombre{
    width: 350px;
}

#txtMail{
    width: 350px;
}

#txtTelefono{
    width: 100px;
}

#tablaNotif{
    width: 800px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #eb8f00;
    border-right-style: hidden;
    border-left-style: hidden;
    border-top-style: hidden;
}

#tablaContactos{
    width: 800px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #eb8f00;
    border-right-style: hidden;
    border-left-style: hidden;
    border-top-style: hidden;
}

#tabla{
    text-align: center;
    margin-top: 20px;
}